# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
# ignore idea data
*.class
*.iml
.idea
target/
out/
document/design/medical.eap
*.ldb
code/s3d/classes/
code/s3d/hospital/src/main/webapp/vendor/
code/s3d/document/design/~$API.xlsx
code/s3d/document/requirement/PhaseTwo/系统设计方案-完整需求 - 定稿版/3 功能模块/0 系统管理/1 组织架构/3 组织架构 - 员工列表界面.png
