@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,img,dl,dt,dd,table,th,td,blockquote,fieldset,div,strong,label,em{margin:0;padding:0;border:0;}
ul,ol,li{list-style:none;}
input,button{margin:0;font-size:12px;vertical-align:middle;}
body{font-size:12px;font-family:Arial, Helvetica, sans-serif;  text-align:center; margin:0 auto;}
table{border-collapse:collapse;border-spacing:0;}
a{color:#333;text-decoration:none;}
a:hover{color:#ef9b11; text-decoration:underline;}
em{ font-style:normal;}
h5{ font-size:12px;}

.box-css{padding-top:5px; height:34px; width:100%; background:url(../images/bg01.gif) repeat-x; position:relative; z-index:500;}
#nav{ width:950px; margin:0 auto;}
#nav li.top{display:block; float:left;height:34px; padding-right:10px; background:url(../images/line.gif) no-repeat right 0;}
.top_link{display:block; float:left; height:34px; line-height:34px;width:93px;color:#ccc; text-decoration:none;  font-weight:bold;  cursor:pointer; font-size:14px; color:#fff;}
#nav .first{ width:63px; line-height:30px;}
#nav .first:hover{background:url(../images/bg03.gif) no-repeat right top;color:#ff7e00;}
.top_link:hover{ text-decoration:none; color:#ff7e00;background:url(../images/bg02.gif) no-repeat right top;color:#ff7e00;}
.top_link span{float:left; display:block; width:93px;  height:34px; line-height:30px; color:#fff;}
#nav li:hover a.top_link span.down{ width:93px; height:34px;color:#ff7e00;background:url(../images/bg02.gif) no-repeat right top;color:#ff7e00;}

.top_link_current{ text-decoration:none; color:#ff7e00;background:url(../images/bg02.gif) no-repeat right top;color:#ff7e00;}
span.down_current{ width:93px; height:34px;color:#ff7e00;background:url(../images/bg02.gif) no-repeat right top;color:#ff7e00;}

#nav li:hover {position:relative; z-index:200;}

#nav li:hover ul.sub{left:1px; top:34px; width:410px;  background:#fff; padding:3px;height:120px; box-shadow:1px 2px 5px #aaa; z-index:300;*border:1px solid #ddd; *border-top:none;}
#nav li:hover ul.sub li{display:block; height:20px; position:relative; float:left; width:90px; font-weight:normal;}
#nav li:hover ul.sub li a{display:block; }
#nav li:hover li:hover ul{left:90px; top:-10px; background: #bbd37e; padding:3px; border:1px solid #5c731e; white-space:nowrap; width:90px; z-index:400; height:auto;}
#nav ul, #nav li:hover ul ul{position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;}

#nav li:hover ul.sub01{ width:210px;}
/*grp-sk*/
.grp-sk{ text-align:left; float:left; padding:6px 0 0 10px; width:90px; margin-top:6px; height:100px;  border-right:1px solid #ddd;}
.last{ border-right:none;}
.grp-sk h5{ width:100%; float:left; padding-bottom:6px;}
.grp-sk p{ width:100%; float:left; line-height:20px;}


.grid-990
{
	margin: 0 auto;
	width: 990px;
}
.topbar
{
	_overflow: hidden;
	background: #f5f5f5;
	background: linear-gradient(-90deg,#fcfcfc 0,#f5f5f5 100%);
	background: -moz-linear-gradient(-90deg,#fcfcfc 0,#f5f5f5 100%);
	background: -ms-linear-gradient(-90deg,#fcfcfc 0,#f5f5f5 100%);
	background: -o-linear-gradient(-90deg,#fcfcfc 0,#f5f5f5 100%);
	background: -webkit-linear-gradient(-90deg,#fcfcfc 0,#f5f5f5 100%);
	border-bottom: 1px solid #dcdcdc;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc',endColorstr='#f5f5f5');
	height: 26px;
	width: 100%;
}
.topbar-wrap
{
	background: #f5f5f5;
	background: linear-gradient(-90deg,#fcfcfc 0,#f5f5f5 100%);
	background: -moz-linear-gradient(-90deg,#fcfcfc 0,#f5f5f5 100%);
	background: -ms-linear-gradient(-90deg,#fcfcfc 0,#f5f5f5 100%);
	background: -o-linear-gradient(-90deg,#fcfcfc 0,#f5f5f5 100%);
	background: -webkit-linear-gradient(-90deg,#fcfcfc 0,#f5f5f5 100%);
	border-bottom: 1px solid #dcdcdc;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc',endColorstr='#f5f5f5');
	height: 26px;
}
.topbar-wrap .toplink
{
	float: left;
	height: 14px;
	line-height: 14px;
	padding: 6px 0;
	width: 300px;
}
.topbar-wrap .toplink a
{
	display: block;
	font-size: 12px;
	height: 14px;
	line-height: 14px;
	vertical-align: middle;
}
.topmenu
{
	color: #666;
	float: right;
	padding: 6px 0;
	position: relative;
	z-index: 1000;
}
.topmenu-item
{
	_line-height: 14px;
	border-left: 1px solid #fefefe;
	border-right: 1px solid #e2e2e2;
	float: left;
	line-height: 12px;
	padding: 1px 15px;
}
.topmenu-item-first
{
	border-left: 0;
	border-right: 0;
}
.topmenu-item-first .split
{
	color: #666;
	padding: 0 5px;
}
.topmenu-item-last
{
	border-right: 0;
	padding-right: 0;
}
.topmenu-item-dropdown
{
	border-left: 1px solid #e2e2e2;
	border-right: 1px solid #e2e2e2;
	position: relative;
}
.topmenu-item-dropdown:hover
{
	background-color: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding-top: 3px;
	top: -3px;
}
.topmenu-item-dropdown-hover
{
	background-color: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding-top: 3px;
	top: -3px;
}
.topmenu-item-dropdown a
{
	float: left;
	zoom: 1;
}
.topmenu-item-dropdown .icon-dropdown
{
	background-image: url(../images/down.png);
	display: inline-block;
	height: 12px;
	line-height: 10px;
	overflow: hidden;
	vertical-align: middle;
	width: 12px;
	zoom: 1;
}
.topmenu-item-dropdown a:hover
{
	text-decoration: none;
}
.topmenu-item-dropdown a:hover .icon-dropdown
{
	background-image: url(../images/up.png);
}
.topmenu-item-dropdown-hover .icon-dropdown
{
	background-image: url(../images/up.png);
}
.topmenu-item-dropdown ul
{
	background-color: #fff;
	display: none;
	position: absolute;
}
.topmenu-item-dropdown:hover ul
{
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	display: block;
	left: -1px;
	padding-bottom: 2px;
	padding-left: 15px;
	padding-right: 27px;
	padding-top: 6px;
	padding-top: 8px;
	top: 16px;
}
.topmenu-item-dropdown-hover ul
{
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	display: block;
	left: -1px;
	padding-bottom: 2px;
	padding-left: 15px;
	padding-right: 27px;
	padding-top: 6px;
	padding-top: 8px;
	top: 16px;
}
.topmenu-item-dropdown ul li
{
	line-height: 18px;
	line-height: 21px;
	width: 60px;
}
.topmenu-item-dropdown ul li a
{
	display: block;
}
.topmenu-item-dropdown ul li a:hover
{
	background-color: #fff;
	color: #f60;
}









