html,
body {
    height: 100%;
    font-family: 微软雅黑;
}
label {
    font-weight: normal;
}
/* style blue */
.style-blue .login .content {
    background-color: #003D8D;
    background-image: url("../images/logo_bg1.png");
}
.style-blue .btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.style-blue .btn-primary:focus,
.style-blue .btn-primary.focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}
.style-blue .btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.style-blue .glyphicon {
    color: #003D8D;
}
.style-blue .nav-pills>li.active>a,
.style-blue .nav-pills>li.active>a:focus,
.style-blue .nav-pills>li.active>a:hover {
    background-color: #003D8D;
}
.style-blue .theme-color {
    color: #003D8D;
}
/* style green */
.style-green .login .content {
    background-color: #6FBA2C;
    background-image: url("../images/logo_bg2.png");
}
.style-green .btn-primary {
    background-color: #6FBA2C;
    border-color: #6FBA2C;
}
.style-green .btn-primary {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.style-green .btn-primary:focus,
.style-green .btn-primary.focus {
    color: #fff;
    background-color: #449d44;
    border-color: #255625;
}
.style-green .btn-primary:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.style-green .glyphicon {
    color: #6FBA2C;
}
.style-green .nav-pills>li.active>a,
.style-green .nav-pills>li.active>a:focus,
.style-green .nav-pills>li.active>a:hover {
    background-color: #6FBA2C;
}
.style-green .theme-color {
    color: #6FBA2C;
}
/* common */
.bg {
    background: url("../images/body_bg.jpg");
}
li {
    list-style: none;
}
.vertical-middle {
    vertical-align: middle !important;
}