.login .header {
    height: 120px;
}
.login .content {
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
}
.login .content > div {
    width: 295px;
    height: 305px;
    background-color: #fff;
    border-radius: 3px;
    float: right;
    margin: 70px 180px;
    padding: 30px;
}
.login .content h3 {
    margin-bottom: 20px;
}