/* global */
/*li {
    list-style: none;
    float: left;
}*/
.container {
    height: 100%;
    width: 1000px;
    margin: 0 auto;
    padding: 20px 15px;
    background: url("../images/body_bg.jpg");
    /*overflow: hidden;*/
}
.main {
    height: 100%;
}
.content {
    width: 740px;
    min-height: 80%;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
}
/* common */
.pagination {
    margin: 10px 0;
}
/* tree */
.menu {
    margin-right: 15px;
    overflow-y: hidden;
    overflow-x: auto;
    max-width: 200px;
    border: 1px solid #ddd;
    border-top:none;
    border-bottom: none;
    border-radius: 5px;
}
.menu ul {
    float: left;
    margin-bottom: 0;
}
.treeview .list-group-item {
    white-space: nowrap;
    border-left:none;
    border-right:none;
}
/*.tree-wrap {
    width: 200px;
    margin: 0 10px;
}
.tree {
    min-height:20px;
    /!*padding:19px;*!/
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto;
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}
.tree li.parent_li > ul > li {
    display: none;
}
.tree a:hover,
.tree a:focus {
    text-decoration: none;
}
.tree a:visited {
    color:#000;
    text-decoration: none;
}*/
/* home */
.home .form-group {
    /*margin-top: 15px;*/
    margin-bottom: 30px;
}
.home .search {
    width: 440px;
    display: inline-block;
}
.home .btn-group1 {
    margin: 30px 0 15px;
}
.home .btn-group1 button {
    margin-left: 4px;
}
.home .btn-group2 button {
    font-size: 20px;
    font-weight: bold;
    padding: 50px 27px;
    margin-left: 14px;
}
.home .btn-group3 button {
    font-size: 20px;
    font-weight: bold;
    padding: 15px 103px;
    margin-left: 14px;
}
.home .btn-group1 button:first-child,
.home .btn-group2 button:first-child,
.home .btn-group3 button:first-child {
    margin-left: 0;
}
/* system manage */
.system .btn {
    margin-right: 20px;
}
/* permission manage */
/*.permission-manage .panel-body > input[type='text'],
.role-manage .panel-body > input[type='text'],
.department-manage .panel-body > input[type='text'],
.user-manage .panel-body > input[type='text'] {
    width: 300px;
    display: inline-block;
}*/
/* departments */
.departments input[type="text"] {
    border: none;
    border-bottom: solid 1px #aaa;
    width: 30px;
    text-align: center;
}
.departments li,
.departments tr {
    cursor: pointer;
}
/* department */
.department h4 {
    text-align: center;
    margin-bottom: 20px;
}
.row {
    margin-bottom: 15px;
}
/* roles */
.roles .nav-tabs {
    margin-bottom: 5px;
    border-bottom: none;
}