/* global */
/*li {
    list-style: none;
    float: left;
}*/
.row {
    margin-bottom: 15px;
}
.mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #fff;
    opacity: 1;
    z-index: 10000;
}
.modal-body {
    overflow: hidden;
}
.modal-footer {
    text-align: center;
}
.container {
    height: 100%;
    width: 1000px;
    margin: 0 auto;
    padding: 20px 15px;
    background: url("../images/body_bg.jpg");
    /*overflow: hidden;*/
}
.main {
    height: 100%;
}
.content {
    width: 770px;
    min-height: 80%;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
}
/* common */
.pagination {
    margin: 10px 0;
}
/* tree */
.menu {
    margin-right: 15px;
    overflow-y: hidden;
    overflow-x: auto;
    max-width: 180px;
    border: 1px solid #ddd;
    border-top:none;
    border-bottom: none;
    border-radius: 5px;
}
.menu ul {
    float: left;
    margin-bottom: 0;
}
.treeview .list-group-item {
    white-space: nowrap;
    border-left:none;
    border-right:none;
}
/* home */
.home .form-group {
    /*margin-top: 15px;*/
    margin-bottom: 30px;
}
.home .search {
    width: 440px;
    display: inline-block;
}
.home .btn-group1 {
    margin: 30px 0 15px;
}
.home .btn-group1 button {
    margin-left: 4px;
}
.home .btn-group2 button {
    font-size: 20px;
    font-weight: bold;
    padding: 50px 27px;
    margin-left: 14px;
}
.home .btn-group3 button {
    font-size: 20px;
    font-weight: bold;
    padding: 15px 103px;
    margin-left: 14px;
}
.home .btn-group1 button:first-child,
.home .btn-group2 button:first-child,
.home .btn-group3 button:first-child {
    margin-left: 0;
}
/* system manage */
.system .btn {
    margin-right: 20px;
}
/* departments */
.departments input[type="text"] {
    border: none;
    border-bottom: solid 1px #aaa;
    width: 30px;
    text-align: center;
}
.departments li,
.departments tr {
    cursor: pointer;
}
/* department */
.edit-department h4 {
    text-align: center;
    margin-bottom: 20px;
}
/* roles */
.roles .nav-tabs {
    margin-bottom: 5px;
    border-bottom: none;
}
/* role */
.role ul {
    padding: 10px;
    overflow: hidden;
}
.role ul li {
    float: left;
}
.role .user-wrap ul {
    border: solid 1px #ccc;
}
.role ul li {
    text-decoration: underline;
    cursor: pointer;
    padding: 0 5px;
}
.role .user-wrap ul li {
    margin-right: 5px;
}
.role .permission-wrap .panel-heading {
    padding: 5px 15px;
}
.role .permission-wrap .panel-heading > * {
    margin-right: 10px;
}
.role .permission-wrap i {
    cursor: pointer;
}
/* user role */
.user-role .user-name {
    display: inline-block;
    width: 85%;
}
.user-role .search {
    margin-right: 0;
    margin-left: 5px;
}
/* permissions */
.permissions table {
    width:480px;
}