/* global */
/*li {
    list-style: none;
    float: left;
}*/
.row {
    margin-bottom: 15px;
}
.mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #fff;
    opacity: 1;
    z-index: 10000;
}
.modal-body {
    overflow: hidden;
}
.modal-footer {
    text-align: center;
}
.container {
    height: 100%;
    width: 1000px;
    margin: 0 auto;
    padding: 20px 15px;
    background: url("../images/body_bg.jpg");
    /*overflow: hidden;*/
}
.main {
    height: 100%;
}
.main .header {
    overflow: hidden;
}
.content {
    width: 770px;
    min-height: 80%;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
}
/* common */
.pagination {
    margin: 10px 0;
}
/* tree */
.menu {
    margin-right: 15px;
    overflow-y: hidden;
    overflow-x: auto;
    max-width: 180px;
    border: 1px solid #ddd;
    border-top:none;
    border-bottom: none;
    border-radius: 5px;
}
.menu ul {
    float: left;
    margin-bottom: 0;
}
.treeview .list-group-item {
    white-space: nowrap;
    border-left:none;
    border-right:none;
}
/* home */
.home .form-group {
    /*margin-top: 15px;*/
    margin-bottom: 30px;
}
.home .search {
    width: 440px;
    display: inline-block;
}
.home .btn-group1 {
    margin: 10px 0 15px;
}
.home .btn-group1 button {
    margin-left: 4px;
}
.home .btn-group2 button {
    font-size: 20px;
    font-weight: bold;
    padding: 50px 27px;
    margin-left: 14px;
}
.home .btn-group3 button {
    font-size: 20px;
    font-weight: bold;
    padding: 15px 103px;
    margin-left: 14px;
}
.home .btn-group1 button:first-child,
.home .btn-group2 button:first-child,
.home .btn-group3 button:first-child {
    margin-left: 0;
}
.home .theme-wrap {
    padding-right: 236px;
}
/* system manage */
/*.system .btn {
    margin-right: 20px;
}*/
/* departments */
.page-size {
    border: none;
    border-bottom: solid 1px #aaa;
    width: 30px;
    text-align: center;
}
.departments li,
.departments tr {
    cursor: pointer;
}
.departments table tr td:first-child,
.roles table tr td:first-child {
    text-align: center;
}
.departments .tb-departments tr td:first-child {
     width: 59px;
 }
.departments .tb-users tr td:first-child {
    width: 62px;
}
/* department */
.edit-department h4 {
    text-align: center;
    margin-bottom: 20px;
}
.department-wrap input[type="text"] {
    display: inline-block;
    width: 65%;
}
/* roles */
.roles .nav-tabs {
    margin-bottom: 5px;
    border-bottom: none;
}
/* role */
.role .permission-list {
    padding: 10px;
    overflow: hidden;
}
.role .permission-list li {
    float: left;
}
.role .user-wrap {
    border: solid 1px #ccc;
    overflow: hidden;
    display: table;
    width: 100%;
}
.role .user-wrap ul {
    border-right: solid 1px #ccc;
    padding: 10px;
    float: initial;
    margin-bottom: 0;
    overflow: hidden;
    width: 100%;
    min-height: 40px;
}
.role .permission-list li {
    text-decoration: underline;
    cursor: pointer;
    padding: 0 5px;
}
.role .user-wrap ul li {
    float: left;
    margin-right: 5px;
}
.role .user-wrap .col-sm-1 {
    background: url("../images/add-user.png") no-repeat 10px;
    background-size: 60%;
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
    float: initial;
}
.role .permission-wrap .panel-heading {
    padding: 5px 15px;
}
.role .permission-wrap .panel-heading > * {
    margin-right: 10px;
}
.role .permission-wrap i {
    cursor: pointer;
}
.role .col-xs-2 {
    text-align: right;
}
/* user role */
.user-role .user-name {
    display: inline-block;
    width: 85%;
}
.user-role .search {
    margin-right: 0;
    margin-left: 5px;
}
/* permissions */
.permissions table {
    width:480px;
}
/* select department */
.select-department .menu {
    max-height: 395px;
    overflow-y: auto;
}
.select-department .search-wrap {
    width: 370px;
}
.select-department .search-wrap ul {
    padding: 0;
    border: solid 1px #ccc;
    height: 320px;
    overflow: auto;
}
.select-department .search-wrap ul li {
    padding: 5px;
    cursor: pointer;
}
.select-department .search-wrap .input-search {
    width: 84%;
    display: inline-block;
    margin-bottom: 10px;
}
.select-department .search-wrap .btn {
    margin-top: -4px;
}
/* select user */
.select-user .modal-dialog {
    width: 800px;
}
.select-user .search-wrap {
    width: 570px;
}
.select-user .search-wrap ul {
    width: 218px;
    display: inline-block;
}
.select-user ul.btn-wrap {
    width: 124px;
    text-align: center;
    padding: 75px 0;
}
/* confirm popup window */
.confirm .modal-dialog,
.alert .modal-dialog {
    width: 360px;
}
.confirm .text {
    margin-top: 10px;
}
.confirm .modal-footer,
.alert .modal-footer {
    border-top: none;
}
/* search users modal */
.search-users .modal-dialog {
    width: 400px;
}
.search-users ul {
    padding: 0 10px;
}
.search-users li {
    padding: 5px 0;
    cursor: pointer;
}
/*
.search-users li:hover {
    background: #eee;
}*/
