<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 1. scan controllers in packages  -->
    <context:annotation-config/>
    <context:component-scan base-package="com.s3d.auth.web.controller">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>


    <!-- 2. register handler. -->
    <!--
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <prop key="/welcome.htm">welcomeController</prop>
            </props>
        </property>
    </bean>
    <bean id="welcomeController"
          class="com.mkyong.common.controller.WelcomeController" />
    -->
    <!--  handle static resources   mvc:resources will auto register request resources url as SimpleUrlHandlerMapping,
   and register corresponding ResourceHttpRequestHandler. -->
    <!--    <mvc:resources mapping="/resources/**" location="/WEB-INF/resources/"
                       cache-period="31536000"/>-->
    <mvc:resources mapping="/js/**" location="/WEB-INF/resources/js/" order="0"/>
    <mvc:resources mapping="/css/**" location="/WEB-INF/resources/css/" order="0"/>
    <mvc:resources mapping="/pic/**" location="/WEB-INF/resources/pic/" order="0"/>
    <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
        <property name="interceptors">
            <list>
                <bean class="com.s3d.auth.web.interceptor.AddtionalHandleInterceptor"></bean>
            </list>
        </property>
    </bean>

    <!-- adapter -->
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="jacksonMessageConverter"/>
                <ref bean="utf8StringHttpMessageConverter"/>
            </list>
        </property>
    </bean>
    <bean id="utf8StringHttpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/plain;charset=UTF-8</value>
            </list>
        </property>
    </bean>
    <bean id="jacksonMessageConverter"
          class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>application/json;charset=UTF-8</value>
            </list>
        </property>
    </bean>

    <!-- 3. view resolver  -->
    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <!--  enable .json suffix, paramter ? format in url. -->
        <property name="favorPathExtension" value="true"/>
        <property name="favorParameter" value="false"/>
        <!-- this needs client set header accept:"application/json" or others -->
        <property name="ignoreAcceptHeader" value="false"/>
        <!-- it's valid for accept:*/* , null accept will exception. -->
        <property name="defaultContentType" value="application/json"/>

        <property name="mediaTypes">
            <map>
                <entry key="json" value="application/json"/>
            </map>
        </property>
        <property name="defaultViews">
            <list>
                <bean class="org.springframework.web.servlet.view.json.MappingJacksonJsonView"/>
            </list>
        </property>
        <property name="order" value="1"/>
    </bean>

    <!-- handled by tile in sub folders of /WEB-INF/page. -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="order" value="2"/>
        <property name="viewClass" value="org.springframework.web.servlet.view.tiles2.TilesView"/>
    </bean>
    <bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">
        <property name="definitions">
            <list>
                <value>classpath*:/tiles/*</value>
            </list>
        </property>
    </bean>

    <!-- handle file in /WEB-INF/page , if you missed in tiles , this resolver will handle it. please make sure subfolder is given in returned path "authenticate/login/"-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          p:viewClass="org.springframework.web.servlet.view.JstlView">
        <property name="order" value="3"/>
        <property name="prefix" value="/WEB-INF/page/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- CommonsMultipartResolver -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="1024000000"></property>
    </bean>

    <!-- 3. Handle exception. -->
    <bean id="exceptionResolver"
          class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
            </props>
        </property>
        <!-- defaultError.jsp -->
        <property name="defaultErrorView">
            <value>error/defaultError</value>
        </property>
    </bean>

</beans> 