<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="dialect">
			org.hibernate.dialect.MySQL5Dialect
		</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="show_sql">false</property><!-- 配置在控制台显示SQL语句 -->
		<property name="format_sql">false</property><!-- 配置对输出的SQL语句进行格式化 -->
		<property name="use_sql_comments">false</property><!-- 配置在输出的SQL语句前面添加提示信息 -->
		<property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>  
		<property name="hibernate.cache.use_query_cache">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>  
		<!-- 
		<mapping
			resource="com/s3d/webapps/sys/security/persistence/BaseSecurityElement.hbm.xml" />
		<mapping
			resource="com/s3d/webapps/sys/security/persistence/User.hbm.xml" />
		<mapping
			resource="com/s3d/webapps/sys/security/persistence/Enterprise.hbm.xml" />
		<mapping
			resource="com/s3d/webapps/sys/acl/role/persistence/SysRole.hbm.xml" />
		<mapping
			resource="com/s3d/webapps/hr/base/persistence/HrBaseIndustry.hbm.xml" />
		 -->
	</session-factory>
</hibernate-configuration>