<!-- template 1 -->
<!DOCTYPE HTML>
<html ng-app="mainPage" ng-strict-di>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" rel="stylesheet" href="../resources/css/fm.selectator.jquery.css"/>
    <!--<link type="text/css" rel="stylesheet" href="../resources/bui/css/dpl-min.css"/>-->
    <style type="text/css">
        /* common */
        input[type='text'] {
            border: none;
            border-bottom: solid 1px #000;
            outline: none;
            padding: 0 5px;
            color: #0000ff;
            width: 60px;
            text-align: center;
        }
        table {
            width: 100%;
        }
        table tr {
            height: 19px;
        }
        table input[type='text'] {
            border: none;
            text-align: left;
        }
        thead {
            text-align: center;
        }
        select {
            margin-left: 5px;
        }
        table {
            border-collapse: collapse;
        }
        td {
            border: solid 1px;
        }
        .text-center {
            text-align: center;
        }
        .ml-10 {
            margin-left: 10px;
        }
        .mt-5 {
            margin-top: 5px;
        }
        .width-20 {
            width: 20px !important;
        }
        .width-40 {
            width: 40px !important;
        }
        .width-120 {
            width: 120px !important;
        }
        .width-140 {
            width: 140px !important;
        }
        .width-160 {
            width: 160px !important;
        }
        .width-330 {
            width: 330px !important;
        }
        .overflow-hidden {
            overflow: hidden;
        }


        /* customize */
        .borderless {
            border: none;
        }
        .sy-container {
            width: 800px;
            margin: 0 auto;
            font-size: 12px;
        }
        .container-body {
            border: solid 1px #000;
            margin-top: 5px;
            padding: 5px;
        }
        .container-body > div {
            margin-top: 5px;
        }
        .selectator_chosen_item_title {
            color: #0000ff;
        }
    </style>
</head>
<body topmargin=0  leftmargin=0 >

    <div class="sy-container" ng-controller="MainPageController">
        <div class="container-header">
            <div>
                <span>医疗付费方式：</span>
                <label><input type="radio" name="payType" value="1" ng-model="page.payType">现金</label>
                <label><input type="radio" name="payType" value="2" ng-model="page.payType">医保卡</label>
            </div>
            <div class="mt-5 overflow-hidden">
                <span>
                    健康卡号：<input ng-model="page.healthCard" type="text" class="borderless">
                </span>
                <span>
                    第<input ng-model="page.hospitalizedTimes" type="text"class="width-20 borderless">次住院
                </span>
                <span>
                    病案号：<input ng-model="page.caseNumber" type="text"class="borderless">
                </span>
            </div>
        </div>
        <div class="container-body">
            <div>
                <span>姓名<input ng-model="page.name" type="text"></span>
                <span class="ml-10">性别
                    <label><input type="radio" name="sex" ng-model="page.sex" value="1">男</label>
                    <label><input type="radio" name="sex" ng-model="page.sex" value="2">女</label>
                </span>
                <span class="ml-10">出生日期<input ng-model="page.birthdayYear" type="text" class="width-40">年<input ng-model="page.birthdayMonth" type="text" class="width-20">月<input ng-model="page.birthdayDay" type="text" class="width-20">日</span>
                <span class="ml-10">年龄<input ng-model="page.age" type="text" class="width-40"></span>
                <span class="ml-10">国籍
                    <select ng-init="page.country = settings.countries[0].id" ng-model="page.country">
                        <option ng-repeat="i in settings.countries" value="{{i.id}}" searchcontent="{{i.shortcut}}">{{i.name}}</option>
                    </select>
                </span>
            </div>
            <div>
                <span>（年龄不足1周岁的）年龄<input ng-model="page.babyAge" type="text">月</span>
                <span class="ml-10">新生儿出生体重<input ng-model="page.babyBornWeight" type="text">克</span>
                <span class="ml-10">新生儿入院体重<input ng-model="page.babyHospitalizedWeight" type="text">克</span>
            </div>
            <div>
                <span>出生地
                    <select ng-model="page.bornState">
                        <option ng-repeat="i in settings.locations" value="{{i.id}}" searchcontent="{{i.shortcut}}">{{i.name}}</option>
                    </select>
                    省（区、市）
                    <select ng-model="page.bornCity">
                        <option ng-repeat="i in settings.locations" value="{{i.id}}" searchcontent="{{i.shortcut}}">{{i.name}}</option>
                    </select>
                    市<select ng-model="page.bornDistrict">
                        <option ng-repeat="i in settings.locations" value="{{i.id}}" searchcontent="{{i.shortcut}}">{{i.name}}</option>
                    </select>
                    县
                </span>
                <span class="ml-10">籍贯
                    <select ng-model="page.hometownState">
                        <option ng-repeat="i in settings.locations" value="{{i.id}}" searchcontent="{{i.shortcut}}">{{i.name}}</option>
                    </select>
                    省（区、市）
                    <select ng-model="page.hometownCity">
                        <option ng-repeat="i in settings.locations" value="{{i.id}}" searchcontent="{{i.shortcut}}">{{i.name}}</option>
                    </select>
                    市
                </span>
                <span class="ml-10">民族
                <select ng-init="page.nation = settings.nations[0].id" ng-model="page.nation">
                    <option ng-repeat="i in settings.nations" value="{{i.id}}" searchcontent="{{i.shortcut}}">{{i.name}}</option>
                </select>
                </span>
            </div>
            <div>
                <span>身份证号<input ng-model="page.idCard" type="text" class="width-160"></span>
                <span class="ml-10">职业
                    <select ng-model="page.job">
                        <option ng-repeat="i in settings.jobs" value="{{i.id}}" searchcontent="{{i.shortcut}}">{{i.name}}</option>
                    </select>
                </span>
                <span class="ml-10">婚姻
                    <select ng-model="page.marriage">
                        <option ng-repeat="i in settings.marriages" value="{{i.id}}" searchcontent="{{i.shortcut}}">{{i.name}}</option>
                    </select>
                </span>
            </div>
            <div>
                <span>现住址<input ng-model="page.addressState" type="text">省（区、市）<input ng-model="page.addressCity" type="text">市<input ng-model="page.addressDistrict" type="text">县</span>
                <span class="ml-10">电话<input ng-model="page.addressPhone" type="text" class="width-120"></span>
                <span class="ml-10">邮编<input ng-model="page.addressPostcode" type="text"></span>
            </div>
            <div>
                <span>户口地址<input ng-model="page.residenceState" type="text">省（区、市）<input ng-model="page.residenceCity" type="text">市<input ng-model="page.residenceDistrict" type="text">县</span>
                <span class="ml-10">邮编<input ng-model="page.residencePostcode" type="text"></span>
            </div>
            <div>
                <span>工作单位及地址</span><input ng-model="page.workPlaceAddress" type="text" class="width-330">
                <span class="ml-10">单位电话</span><input ng-model="page.workPlacePhone" type="text" class="width-120">
                <span class="ml-10">邮编</span><input ng-model="page.workPlacePostcode" type="text">
            </div>
            <div>
                <span>联系人姓名<input ng-model="page.contact" type="text"></span>
                <span class="ml-10">关系
                    <select ng-model="page.relationship">
                        <option ng-repeat="i in settings.relationships" value="{{i.id}}" searchcontent="{{i.shortcut}}">{{i.name}}</option>
                    </select>
                </span>
                <span class="ml-10">地址<input ng-model="page.contactAddress" type="text" class="width-330"></span>
                <span class="ml-10">电话<input ng-model="page.contactPhone" type="text" class="width-120"></span>
            </div>
            <div>
                <span>入院途径
                    <select ng-model="page.inType">
                        <option ng-repeat="i in settings.inTypes" value="{{i.id}}" searchcontent="{{i.shortcut}}">{{i.name}}</option>
                    </select>
                </span>
            </div>
            <div>
                <span>入院时间<input ng-model="page.inYear" type="text">年<input ng-model="page.inMonth" type="text">月<input ng-model="page.inDay" type="text">日<input ng-model="page.inHour" type="text">时</span>
                <span class="ml-10">入院科别
                    <select ng-model="page.inDepartment">
                        <option ng-repeat="i in settings.departments" value="{{i.id}}" searchcontent="{{i.shortcut}}">{{i.name}}</option>
                    </select>
                </span>
                <span class="ml-10">病房<input ng-model="page.inSickroom" type="text"></span>
                <span class="ml-10">转科科别
                    <select ng-model="page.changeDepartment">
                        <option ng-repeat="i in settings.departments" value="{{i.id}}" searchcontent="{{i.shortcut}}">{{i.name}}</option>
                    </select>
                </span>
            </div>
            <div>
                <span>出院时间<input ng-model="page.outYear" type="text">年<input ng-model="page.outMonth" type="text">月<input ng-model="page.outDay" type="text">日<input ng-model="page.outHour" type="text">时</span>
                <span class="ml-10">出院科别
                    <select ng-model="page.outDepartment">
                        <option ng-repeat="i in settings.departments" value="{{i.id}}" searchcontent="{{i.shortcut}}">{{i.name}}</option>
                    </select>
                </span>
                <span class="ml-10">病房<input ng-model="page.outSickroom" type="text"></span>
                <span class="ml-10">实际住院<input ng-model="page.daysInHospital" type="text">天</span>
            </div>
            <div>
                <span>门（急）诊诊断<input ng-model="page.outpatientDiagnosis" type="text" class="width-330"></span>
                <span class="ml-10">疾病编码
                    <select ng-model="page.outpatientSickCode">
                        <option ng-repeat="i in settings.sickCodes" value="{{i.id}}" searchcontent="{{i.shortcut}}">{{i.name}}</option>
                    </select>
                </span>
            </div>
            <div>
                <table>
                    <thead>
                        <tr>
                            <td>出院诊断</td>
                            <td>疾病编码</td>
                            <td>入院病情</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="d in page.dischargeDiagnosis">
                            <td>
                                <span ng-show="$index == 0">主要诊断：</span>
                                <span ng-show="$index == 1">其他诊断：</span>
                                <input class="diagnosis" type="text" ng-model="d.diagnosis">
                            </td>
                            <td>
                                <select ng-model="d.sickCode">
                                    <option ng-repeat="i in settings.sickCodes" value="{{i.id}}" searchcontent="{{i.shortcut}}">{{i.name}}</option>
                                </select>
                            </td>
                            <td>
                                <select ng-model="d.inSickState">
                                    <option ng-repeat="i in settings.inSickStates" value="{{i.id}}" searchcontent="{{i.shortcut}}">{{i.name}}</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--<div>+</div>-->
            </div>
            <div>
                <span>损伤、中毒的外部原因<input ng-model="page.outCause" type="text"></span>
                <span>疾病编码
                    <select ng-model="page.outSickCode">
                        <option ng-repeat="i in settings.sickCodes" value="{{i.id}}" searchcontent="{{i.shortcut}}">{{i.name}}</option>
                    </select>
                </span>
            </div>
            <div>
                <span>病理诊断<input ng-model="page.pathologyDiagnosis" type="text"></span>
            </div>
            <div>
                <span>疾病编码
                    <select ng-model="page.pathologySickCode">
                        <option ng-repeat="i in settings.sickCodes" value="{{i.id}}" searchcontent="{{i.shortcut}}">{{i.name}}</option>
                    </select>
                </span>
                <span>病理号<input ng-model="page.pathologyNumber" type="text"></span>
            </div>
            <div>
                <span>药物过敏
                    <label><input type="radio" name="allergic" value="1" ng-model="page.medicalAllergy">无</label>
                    <label><input type="radio" name="allergic" value="2" ng-model="page.medicalAllergy">有</label>
                </span>
                <span>过敏药物<input ng-model="page.allergicMedication" type="text"></span>
                <span>死亡患者尸检
                    <label><input type="radio" name="autopsy" value="1" ng-model="page.autopsy">是</label>
                    <label><input type="radio" name="autopsy" value="2" ng-model="page.autopsy">否</label>
                </span>
            </div>
            <div>
                <span>血型
                    <label><input type="radio" name="bloodType" value="1" ng-model="page.bloodType">A</label>
                    <label><input type="radio" name="bloodType" value="2" ng-model="page.bloodType">B</label>
                    <label><input type="radio" name="bloodType" value="3" ng-model="page.bloodType">O</label>
                    <label><input type="radio" name="bloodType" value="4" ng-model="page.bloodType">AB</label>
                    <label><input type="radio" name="bloodType" value="5" ng-model="page.bloodType">不详</label>
                    <label><input type="radio" name="bloodType" value="6" ng-model="page.bloodType">未查</label>
                </span>
                <span class="ml-10">RH
                    <label><input type="radio" name="rh" value="1" ng-model="page.rh">阴</label>
                    <label><input type="radio" name="rh" value="2" ng-model="page.rh">阳</label>
                    <label><input type="radio" name="rh" value="3" ng-model="page.rh">不详</label>
                    <label><input type="radio" name="rh" value="4" ng-model="page.rh">未查</label>
                </span>
            </div>
            <div>
                <span>科主任<input ng-model="page.director" type="text"></span>
                <span>主任（副主任）医师<input ng-model="page.deputyDirector" type="text"></span>
                <span>主治医师<input ng-model="page.attendingDoctor" type="text"></span>
                <span>住院医师<input ng-model="page.residentDoctor" type="text"></span>
            </div>
            <div>
                <span>责任护士<input ng-model="page.primaryNurse" type="text"></span>
                <span>进修医师<input ng-model="page.refresherDoctor" type="text"></span>
                <span>实习医师<input ng-model="page.intern" type="text"></span>
                <span>编码员<input ng-model="page.coder" type="text"></span>
            </div>
            <div>
                <span>病案质量
                    <label><input type="radio" name="caseQuality" value="1" ng-model="page.caseQuality">甲</label>
                    <label><input type="radio" name="caseQuality" value="2" ng-model="page.caseQuality">乙</label>
                    <label><input type="radio" name="caseQuality" value="3" ng-model="page.caseQuality">丙</label>
                </span>
                <span>
                    <span>质控医师<input ng-model="page.qualityDoctor" type="text"></span>
                </span>
                <span>
                    <span>质控护士<input ng-model="page.qualityNurse" type="text"></span>
                    <span>质控日期<input ng-model="page.qualityYear" type="text">年<input ng-model="page.qualityMonth" type="text">月<input ng-model="page.qualityDay" type="text">日</span>
                </span>
            </div>
            <div>
                <table>
                    <thead>
                        <tr>
                            <td>手术及操作编码</td>
                            <td>手术及操作日期</td>
                            <td>手术级别</td>
                            <td>手术及操作名称</td>
                            <td>手术及操作医师-术者</td>
                            <td>Ⅰ助</td>
                            <td>Ⅱ助</td>
                            <td>切口愈合等级</td>
                            <td>麻醉方式</td>
                            <td>麻醉医师</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <span>离院方式
                    <select ng-model="page.outType">
                        <option ng-repeat="i in settings.outTypes" value="{{i.id}}" searchcontent="{{i.shortcut}}">{{i.name}}</option>
                    </select>
                    拟接收医疗机构名称
                    <input type="text" ng-model="page.acceptOrganization">
                </span>

            </div>
            <div>
                <span>是否有出院31天内再住院计划
                    <label><input type="radio" name="willReturn" value="1" ng-model="page.willReturn">无</label>
                    <label><input type="radio" name="willReturn" value="2" ng-model="page.willReturn">有，目的</label>
                    <input ng-model="page.returnPurpose" type="text">
                </span>
            </div>
            <div>
                <span>颅脑损伤患者昏迷时间：入院前<input ng-model="page.comaDayBeforeHospital" type="text">天<input ng-model="page.comaHourBeforeHospital" type="text">小时<input ng-model="page.comaMinuteBeforeHospital" type="text">分钟</span>
                <span>入院后<input ng-model="page.comaDayAfterHospital" type="text">天<input ng-model="page.comaHourAfterHospital" type="text">小时<input ng-model="page.comaMinuteAfterHospital" type="text">分钟</span>
            </div>
            <div>
                <span>住院费用（元）：总费用<input ng-model="page.expenseTotal" type="text">（自付金额<input ng-model="page.expensePersonal" type="text">）</span>
            </div>
            <div>
                <span>1.综合医疗服务类：（1）一般医疗服务费：<input type="text"ng-model="page.expenseNormalMedicalService">（2）一般治疗操作费：<input type="text"ng-model="page.expenseNormalCureOperating">（3）护理费<input type="text"ng-model="page.expenseNormalNurse">（4）其他费用：<input type="text"ng-model="page.expenseNormalOther"></span>
            </div>
            <div>
                <span>2.诊断类：（5）病理诊断费：<input type="text"ng-model="page.expenseDiagnosisPathology">（6）实验室诊断费：<input type="text"ng-model="page.expenseDiagnosisLab">（7）影像学诊断费<input type="text"ng-model="page.expenseDiagnosisImaging">（8）临床诊断项目费：<input type="text"ng-model="page.expenseDiagnosisClinical"></span>
            </div>
            <div>
                <span>3.治疗类：（9）非手术治疗项目费：<input type="text"ng-model="page.expenseCureNonOperation">（临床物理治疗费：<input type="text"ng-model="page.expenseCureClinicalPhysics">）（10）手术治疗费：<input type="text"ng-model="page.expenseCureOperationCure">（麻醉费<input type="text"ng-model="page.expenseCureAnaesthesia">手术费：<input type="text"ng-model="page.expenseCureOperation">）</span>
            </div>
            <div>
                <span>4.康复类：（11）康复费：<input type="text"ng-model="page.expenseRecovery"></span>
            </div>
            <div>
                <span>5.中医类：（12）中医治疗费：<input type="text"ng-model="page.expenseChineseMedicineCure"></span>
            </div>
            <div>
                <span>6.西药类：（13）西药费：<input type="text"ng-model="page.expenseWesternMedicineMedication">（抗菌药物费用：<input type="text"ng-model="page.expenseWesternMedicineAntibiosisMedication">）</span>
            </div>
            <div>
                <span>7.中药类：（14）中成药费：<input type="text"ng-model="page.expenseChineseMedicinePatentDrag">（15）中草药费：<input type="text"ng-model="page.expenseChineseMedicineHerb"></span>
            </div>
            <div>
                <span>8.血液和血液制品类：（16）血费：<input type="text"ng-model="page.expenseBlood">（17）白蛋白类制品费：<input type="text"ng-model="page.expenseBloodAlbumin">（18）球蛋白类制品费：<input type="text"ng-model="page.expenseBloodGlobulin">（19）凝血因子类制品费：<input type="text"ng-model="page.expenseBloodCoagulationFactor">（20）细胞因子类制品费：<input type="text"ng-model="page.expenseBloodCellFactor"></span>
            </div>
            <div>
                <span>9.耗材类：（21）检查用一次性医用材料费：<input type="text"ng-model="page.expenseConsumptionExamine">（22）治疗用一次性医用材料费：<input type="text"ng-model="page.expenseConsumptionCure">（23）手术用一次性医用材料费：<input type="text"ng-model="page.expenseConsumptionOperation"></span>
            </div>
            <div>
                <span>10.其他类：（24）其他费：<input type="text"ng-model="page.expenseOther"></span>
            </div>
            <div class="text-center">
                <input type="button" value="保存" ng-click="save()">
                <input type="button" value="取消" ng-click="cancel()">
            </div>
        </div>
    </div>

</body>

<script type="text/javascript" src="../resources/js/jquery.js"></script>
<script type="text/javascript" src="../resources/js/fm.selectator.jquery.js"></script>
<script type="text/javascript" src="../resources/js/angular.js"></script>
<script type="text/javascript" src="../resources/js/main_page.js"></script>
<script type="text/javascript">
	/*BUI.use('bui/form',function(Form){
     	new Form.Form({
       	srcNode : '#Shouye_Form'
   	  }).render();
 	  	try{
 	  		$("select.bui-form-field-select").selectator({
				labels: {
					search: '搜索'
				}
			});
 	  		$(".focus-onload")[0].focus();
 	  	}catch(e){};
  });*/
    $(window).load(function () {
        try{
            $("select").selectator({
                labels: {
                    search: '搜索'
                }
            });
            $(".focus-onload")[0].focus();
        }catch(e){};
    });
</script>
</html>