<!-- 首页模版在此改 -->
<body>
<div class="row">
   <div class="span16 doc-content"> <!-- span16 将区域分成16个等宽的虚拟列 -->
    <form id="Shouye_Form" action="update" method="post" class="form-horizontal">
        
    <div class="row"> <!-- 开始新的行(类似于table里面的tr) -->
      <div class="control-group span8"> <!-- span8 意即此div占8/16 也就是一半宽度 -->
        <label class="control-label">文本：</label>
        <div class="controls">
        	<control type="text" name="fdName" class="control-text focus-onload storage" data-type="String" data-rules="{required:true}"></control>
        	<!-- 
        		一个<control /> 是最终要存放数据库的一个元素，可以理解为domino的一个域(field),设计方式也是参考的domino的field
        		 type(必须有)			: 表示字段的类型,比如type="text"最后显示在网页上就是 <input type=text>
        		 name(必须有)			: 域的名称,在文档中必须不能出现同名
        		 class					: 表示域的类型或作用,class标签最终会显示在网页上，如：<input type=text class="...">
        		 						control-text : 普通文本字段的css风格样式
        		 						focus-onload : 编辑时立即获得焦点
        		 						storage		 : 表示这个字段是要存储到数据库的
        		 data-type				:	数据的类型,有以下几种：String Number DateTime 
        		 data-isMultiValue		: 字段是否多值  
        		 data-rules				: 提交表单数据时的一些验证操作
        		 dictionary-source		: 数据源的名称，对应系统中设置的数据字典的type ,仅在域类型是 radio,checkbox,select时起作用
        		 
        	 -->
        </div>
      </div>
      <div class="control-group span8">
        <label class="control-label">时间：</label>
        <div class="controls">
          <control type="text" name="fdCreateTime" class="calendar storage" data-type="DateTime" data-rules="{required:true}"></control>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="control-group span16">
        <label class="control-label">多行文本：</label>
        <div class="controls control-row-auto">
          <control type="textarea" name="fdDescription" class="input-large storage" data-type="String" data-rules="{required:true}"></control>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="control-group span8">
        <label class="control-label">单选：</label>
        <div class="controls">
        	<control type="radio" name="fdRadio" class="storage" data-type="String">
        		<dictionary value="1" text="单选框1" shortcut="" />
        		<dictionary value="2" text="单选框2" shortcut="" />
        	</control>
        </div>
      </div>
      <div class="control-group span8">
        <label class="control-label">数据字典单选：</label>
        <div class="controls">
			<control type="radio" name="fdRadioDyn" dictionary-source="KS" class="storage" data-type="String" data-rules="{required:true}"></control>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="control-group span8">
        <label class="control-label">多选：</label>
        <div class="controls">
        	<control type="checkbox" name="fdCheckbox" class="storage" data-type="String" data-isMultiValue="true">
        		<dictionary value="1" text="多选框1" shortcut="" />
        		<dictionary value="2" text="多选框2" shortcut="" />
        	</control>
        </div>
      </div>
      <div class="control-group span8">
        <label class="control-label">数据字典多选：</label>
        <div class="controls">
          <control type="checkbox" name="fdCheckboxDyn" dictionary-source="KS" class="storage" data-isMultiValue="true" data-rules="{required:true}"></control>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="control-group span8">
        <label class="control-label">下拉：</label>
        <div class="controls">
        	<control type="select" name="fdSelect" class="storage">
        		<dictionary value="1" text="选项1" shortcut="1" />
        		<dictionary value="2" text="选项2" shortcut="2" />
        	</control>
        </div>
      </div>
      <div class="control-group span8">
        <label class="control-label">数据字典下拉：</label>
        <div class="controls">
          <control type="select" name="fdSelectDyn" class="storage" data-type="String" dictionary-source="ZJ" data-placeholder="请选择..." data-rules="{required:true}"></control>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="row">
    	<div class="control-group span3">
    		<label class="control-label">文本1：</label>
	        <div class="controls">
	          <input type="text" class="input-small">
	        </div>
    	</div>
    	<div class="control-group span5">
    		<label class="control-label">文本2：</label>
	        <div class="controls">
	          <input type="text">
	        </div>
    	</div>
    	
    	<div class="control-group span3">
    		<label class="control-label">文本3：</label>
	        <div class="controls">
	          <input type="text">
	        </div>
    	</div>
    	
    	<div class="control-group span5">
    		<label class="control-label">文本4：</label>
	        <div class="controls">
	          <input type="text">
	        </div>
    	</div>
    	
    </div>
  </form>
   </div>
 </div>
</body>
<script type="text/javascript">
	BUI.use('bui/form',function(Form){
     	new Form.Form({
       	srcNode : '#Shouye_Form'
   	  }).render();
 	  	try{
 	  		$("select.bui-form-field-select").selectator({
				labels: {
					search: '搜索'
				}
			});
 	  		$(".focus-onload")[0].focus();
 	  	}catch(e){};
  });  
</script>
	